__pycache__
tags
.vim/
.ipynb_checkpoints/
*.log
swa_plane_results/
features/
perturb_results/
*.pdf
*.sh
*.ipynb
*.tar
*.pth
domainbed/facebook.py
*.pyc
domainbed/data/*
*.jpg
*.JPG
*.PNG
*.png
*.pth
*.pkl
err.txt
*.jsonl
done